<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Projeto piloto</title>
</head>
<h1 th:text="${mensagem}"></h1>
<section class="layout-content" layout:fragment="conteudo">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-top bg-secondary text-light">
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item active">
                        <h4>Cadastro de Estados</h4>
                    </li>
                </ul>
                <a class="btn btn-primary btn-md" th:href="@{/listarEstado}" role="button">
                    <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span> <span>Listar Estados</span>
                </a>
            </div>
        </nav>
    </div>
    <div class="container p-5" id="cadastro">
        <form action="/salvarEstado" method="POST" th:object="${estado}">
            <div class="form-group row  p-5">
                <label for="nome" class="col-sm-4 col-form-label">Estado</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="nome" placeholder="Nome do Estado" autofocus="autofocus" th:field="*{nome}"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-sm-4">
                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="alert alert-danger"></span>
                </div>
            </div>
            <div class="form-group row  p-5">
                <label for="nome" class="col-sm-2 col-form-label">Sigla</label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="sigla" placeholder="Sigla do Estado" autofocus="autofocus" th:field="*{sigla}"/>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-sm-6">
                    <span th:if="${#fields.hasErrors('sigla')}" th:errors="*{sigla}" class="alert alert-danger"></span>
                </div>
            </div>
            <input type="hidden" id="id" th:field="*{id}" value="" />
            <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        </form>
    </div>
</section>
</body>
</html>