<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Projeto piloto</title>
</head>
<h1 th:text="${mensagem}"></h1>
<section class="layout-content" layout:fragment="conteudo">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-top bg-secondary text-light">
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav  mr-auto">
          <li class="nav-item active">
            <h4>Cadastro de Papéis</h4>
          </li>
        </ul>
        <a class="btn btn-primary btn-md" th:href="@{/listarRole}" role="button">
          <span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span> <span>Listar Papéis</span>
        </a>
      </div>
    </nav>
  </div>
  <div class="container p-5" id="cadastro">
    <form action="/salvarRole" method="POST" th:object="${role}">
      <div class="form-group row  p-5">
        <label for="nomeRole" class="col-sm-2 col-form-label">Papel</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="nomeRole" placeholder="Nome do Papel" autofocus="autofocus" th:field="*{nomeRole}"/>
          <div class="invalid-feedback"></div>
        </div>
        <div class="col-sm-4">
          <span th:if="${#fields.hasErrors('nomeRole')}" th:errors="*{nomeRole}" class="alert alert-danger"></span>
        </div>
      </div>
      <input type="hidden" id="id" th:field="*{id}" value="" />
      <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
    </form>
  </div>
</section>
</body>
</html>